<!doctype html>
<title>MD410 2023 Convention Registration Stats as at {{ dt }}</title>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
<body>
<h1>MD410 2023 Convention Registration Stats as at {{ dt }}</h1>
<h3><a href="/stats_file">Download these stats as an Excel file</a></h3>
<h2>Totals</h2>
<ul>
   <li>Total Attendees:  {{ stats.total_attendees }}</li>
   <li>Number of Lions:  {{ stats.lions }}</li>
   <li>Number of Non-Lions:  {{ stats.non_lions }}</li>
   <li>Number attending the MJF lunch:  {{ stats.mjf_lunch }}</li>
   <li>Number attending the PDG dinner:  {{ stats.pdg_dinner }}</li>
   <li>Number attending the beach cleanup service project:  {{ stats.beach_cleanup }}</li>
   <li>Number attending the President Elect's breakfast:  {{ stats.lpe_breakfast }}</li>
   <li>Number interested in a partner's program:  {{ stats.partner_program }}</li>
   <li>Number attending the Welcome Evening:  {{ stats.welcome }}</li>
   <li>Number attending the District E Convention:  {{ stats.dist_e_conv }}</li>
   <li>Number attending the District W Convention:  {{ stats.dist_w_conv }}</li>
   <li>Number attending the Banquet:  {{ stats.banquet }}</li>
   <li>Number attending the MD Convention:  {{ stats.md_conv }}</li>
   <li>Number attending the Theme Evening:  {{ stats.theme }}</li>
</ul>
<h2>Extra Items</h2>
<ul>
   <li>Total Number of Pins: {{ stats.pins }}</li>
</ul>
<h2>Club Info</h2>
<h3>Numbers Per Club</h3>
<ul>
{% for (club, total) in stats.clubs.most_common() %}
   <li>{{ club }}:  {{ total }}</li>
{% endfor %}
</ul>
<h3>Numbers Per District</h3>
<ul>
{% for (district, total) in stats.districts.most_common() %}
   <li>{% if district %}{{ district }}{% else %}Unspecified District (Partner in Service or Lion from outside MD410){% endif %}: {{ total }}</li>
{% endfor %}
</ul>
<h2>Dietary Restrictions</h2>
<ul>
{% if stats.dietary %}
   {% for dietary in stats.dietary %}
      <li>{{ dietary }}</li>
   {% endfor %}
{% else %}
   <li>None</li>
{% endif %}
</ul>
<h2>Disabilities</h2>
<ul>
{% if stats.disability %}
   {% for disability in stats.disability %}
      <li>{{ disability }}</li>
   {% endfor %}
{% else %}
   <li>None</li>
{% endif %}
</ul>
<h2>Attendees - Full Registrations</h2>
<table border=1>
   <tr>
      <th>Attendee Num</th>
      <th>Name</th>
      <th>Name Badge</th>
      <th>Club</th>
      <th>Pins</th>
      <th>Owed</th>
      <th>Paid</th>
   </tr>
   {% for attendee in stats.full_attendees %}
   <tr>
      <td>{{ attendee.attendee_num }}</td>
      <td>{{ attendee.name }}</td>
      <td>{{ attendee.name_badge }}</td>
      <td>{{ attendee.club }}</td>
      <td>{{ attendee.pins }}</td>
      <td>{% if attendee.owed != None %}R{{ attendee.owed }}{% else %}-{% endif %}</td>
      <td{% if attendee.paid == None %} style="background-color: white"{% elif attendee.paid == 0 %} style="background-color: red"{% elif attendee.paid < attendee.owed %} style="background-color: yellow"{% elif attendee.paid >= attendee.owed %} style="background-color: green"{% endif %}>{% if attendee.paid != None %}R{{ attendee.paid }}{% else %}-{% endif %}</td>
   </tr>
   {% endfor %}
</table>

<h2>Attendees - Partial Registrations</h2>
<table border=1>
   <tr>
      <th>Attendee Num</th>
      <th>Name</th>
      <th>Name Badge</th>
      <th>Club</th>
      <th>Pins</th>
      <th>Welcome Evening</th>
      <th>District Convention</th>
      <th>Banquet</th>
      <th>MD Convention</th>
      <th>Theme Evening</th>
      <th>Owed</th>
      <th>Paid</th>
   </tr>
   {% for attendee in stats.partial_attendees %}
   <tr>
      <td>{{ attendee.attendee_num }}</td>
      <td>{{ attendee.name }}</td>
      <td>{{ attendee.name_badge }}</td>
      <td>{{ attendee.club }}</td>
      <td>{{ attendee.pins }}</td>
      <td {% if attendee.welcome == "Yes" %} style="background-color: green"{% else %} style="background-color: red"{% endif %}>{{ attendee.welcome }}</td>
      <td {% if attendee.dist_conv == "Yes" %} style="background-color: green"{% else %} style="background-color: red"{% endif %}>{{ attendee.dist_conv }}</td>
      <td {% if attendee.banquet == "Yes" %} style="background-color: green"{% else %} style="background-color: red"{% endif %}>{{ attendee.banquet }}</td>
      <td {% if attendee.md_conv == "Yes" %} style="background-color: green"{% else %} style="background-color: red"{% endif %}>{{ attendee.md_conv }}</td>
      <td {% if attendee.theme == "Yes" %} style="background-color: green"{% else %} style="background-color: red"{% endif %}>{{ attendee.theme }}</td>
      <td>{% if attendee.owed != None %}R{{ attendee.owed }}{% else %}-{% endif %}</td>
      <td{% if attendee.paid == None %} style="background-color: white"{% elif attendee.paid == 0 %} style="background-color: red"{% elif attendee.paid < attendee.owed %} style="background-color: yellow"{% elif attendee.paid >= attendee.owed %} style="background-color: green"{% endif %}>{% if attendee.paid != None %}R{{ attendee.paid }}{% else %}-{% endif %}</td>
   </tr>
   {% endfor %}
</table>
</body>

